@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

footer {
    /*text-align: center;*/
        color: #999999;
    padding-top: 1em;
}

.container {
    border-bottom: solid 1px #f1f1f1;
}

.card {
    /*border: none;*/
}

.copywrite {
    /*text-align: center;*/
    font-size: .7rem;
}

.navbar{
    text-color: #fff;
    background-color: #4694e2;
}
.navbar-expand-lg {
    background-color: #072c48;
}
footer a{
    color: #fff;
    /*background-color: #072c48;*/
}

/*footer h5 {*/
    /*border-left: solid #fff3cd;*/
    /*padding: .5rem;*/
/*}*/
.footerbackground {
    font-size: .875em;
    background-color: #0c1a1e;
}

ul,li{
    padding:0;
    margin:0;
}
li{
    list-style-type:none;
}
.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}
.footer-social li{
    float:left;
}
.linked-in{
    background-color:#007bb6;
}
.facebook{
    background-color:#3b5998;
}
.twitter{
    background-color:#1da1f2;
}
.google{
    background-color:#f63e28;
}